.header-container {
  background-color: aqua;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo {
  font-weight: 600;
}

.profile {
  display: flex;
  align-items: center;
  gap: 5px;
}

.profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
